@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  
  background-size: 60% 100%;
  background-position: top;
   background-repeat: no-repeat;
   background-color: #758DE6;
   text-align: center;
   color: white;
}
.contenedor-imagen img {
  display: block; /* Convierte la imagen en un bloque */
  margin-left: left; /* Margen izquierdo automático */
  margin-right: auto; /* Margen derecho automático */


}
.imagenArriba {
    position: relative; /* Esencial para el posicionamiento absoluto */
    width: 500px; /* Tamaño del contenedor */
    height: 300px;
  }
  html
  {
      scroll-behavior: smooth;
  }